body {
  font-size: 100px;
}

@font-face{
  font-family: LaBeauties;
  src: url(LaBeauties.ttf);
}


#webdesign {
  font-family: LaBeauties;
  
}

i {
  font-family: FontAwesome;
  font-style: normal;
  color: red;
}
